# General
/build

# Frontend
/frontend/node_modules/
/frontend/public/build/

# Lambda
/lambda/*/node_modules/

# Terraform
/terraform/.terraform/

/terraform/*.tfstate
/terraform/*.tfstate.backup
/terraform/*.tfvars
/terraform/*.tfplan
