html, body {
  position: relative;
  width: 100%;
  height: 100%;
}

body {
  background-color: #ffffff;
  color: #333;
  margin: 0;
  padding: 8px;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
  color: rgb(0,100,200);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: rgb(0,80,160);
}

label {
  display: block;
}

input, button, select, textarea {
  font-family: inherit;
  font-size: inherit;
  -webkit-padding: 0.4em 0;
  padding: 0.4em;
  margin: 0 0 0.5em 0;
  box-sizing: border-box;
  border: 1px solid #333333;
  border-radius: 2px;
}

input:disabled {
  color: #ccc;
}

button {
  color: #333;
  background-color: #f4f4f4;
  outline: none;
}

button:disabled {
  color: #999;
}

button:not(:disabled):active {
  background-color: #ddd;
}

button:focus {
  border-color: #666;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #2c2c2c;
    color: #dddddd;
  }

  a {
    color: rgb(100, 200, 255);
  }

  a:visited {
    color: rgb(96, 176, 256);
  }

  input {
    background-color: #2c2c2c;
    color: #cccccc;
    border-color: #cccccc;
  }

  input:focus-visible {
    outline: 2px solid #99ccff;
  }
}
